@font-face {
  font-family: 'NotoSans';
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/NotoSans-Regular.woff") format('woff');
}

@font-face {
  font-family: 'NotoSans-Bold';
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/NotoSans-Bold.woff") format('woff');
}
